html, body {
  margin: 0;
  padding: 0;
}

/* -------------- Alphabetized --------------- */
footer{
  text-align: center;
}

form > h1, a{
  text-align: center;
}

form > button{
  background-color: green;
  color: #fff;
}

.form-div{
  display: flex;
  justify-content: center;
}

.form-div > form > *{
  display: block;
  margin: 15px;
  width: 100%;
}
