body {
  background-color: #f1f3f4;
  background-image: -webkit-linear-gradient(65deg, #655c56 50%, #2a7886 50%);
  min-height: 1000px;
  color: #fff;
}

footer {
  margin-top: 50px;
  text-align: center;
}

.container {
  position: relative;
}

.walking-man {
  position: absolute;
  z-index: 0;
}
