{{>header}}

  <h1>{{text}}</h1>

  <table class="table table-bordered table-dark table-striped table-hover table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Type</th>
      <th>Payment Type</th>
      <th>Category</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <a href="/edit?id=<%= record.id %>" class="btn btn-sm btn-primary">Edit</a>
    <a href="/delete?id=<%= record.id %>" class="btn btn-sm btn-danger">Delete</a>
  </tbody>
</table>

{{>footer}}
