
<footer>
  <p>Copyright &copy; <span class="copyright-date"></span> Joseph Kligel</p>
</footer>

<script type="text/javascript">
  copyrightDate = document.querySelector('.copyright-date');
  copyrightDate.textContent = new Date().getFullYear();
</script>
</body>
</html>
